www/WEB-INF/config/organization/learning_plan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="selfInitiatedType">
		<xsd:sequence>
			<xsd:element name="enabled" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="learning_plan">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="self_initiated" type="selfInitiatedType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
